*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout{
  display: flex;
  flex-direction: row;
}
.layout-page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  position: relative;
  z-index: 1;
}
.page-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.page-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 62px;
  margin: auto;
}

.page-main{
  margin: auto;
}
.page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}