.wo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

    &-form{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;

        &-input{
            border-radius: 8px;
            border: 1px solid #d9d9d9;
            padding: 4px;
        }
        &-btn{
            font-family: sans-serif;
            font-weight: bold;
            padding: 4px;
            border-radius: 8px;
            border: 1px solid #d9d9d9;
            background-color: #fff;

            &:hover{
                transition: .2s all ease-in;
                cursor: pointer;
                background-color: #d9d9d9;
            }
        }
    }

    &-back{
        position: absolute;
        right: 0;
        top: -36px;
        padding: 4px 6px;
        border-radius: 100%;
        font-size: 12px;
        border: 1px solid transparent;
        background-color: #D9D9D9;

        &:hover{
            transition: .2s all ease-in;
            background-color: white;
            border: 1px solid #d9d9d9;
            cursor: pointer;
        }
    }

    &-option{
        width: 400px;
        border-radius: 8px;
        border: 1px solid transparent;
        background-color: #D9D9D9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        transition: .2s all ease-out;
        
        &:hover{
            transition: .2s all ease-in;
            background-color: white;
            border: 1px solid #d9d9d9;
            cursor: pointer;
        }
    }
    &-title{
        font-size: 20px;
        font-weight: bold;
    }
    &-container{
        background-color: #d9d9d9;
        border-radius: 8px;
    }
    &-details{
        width: 400px;
        font-size: 16px;
        padding: 12px;
        margin-top: 12px;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 12px;

        &-div{
            display: flex;  
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 4px;
            padding-top: 8px;
            width: 400px;
            position: relative;
        }
    }
    &-completion{
        height: 30px;
        width: 36px;
        border: 1px solid #000;
        border-radius: 100%;
        background-color: #fff;

        &:hover{
            cursor: pointer;
        }

        &-note{
            font-size: 14px;
            position: absolute;
            top: -8px;
            left: 0;
        }
    }
    &-completed{
        background-color: green;;
    }
    &-description{}
    &-note{
        font-size: 14px;
        font-style: italic;
        padding: 12px;
        background-color: #fff;
        border-radius: 8px;
    }
}